// color variables

$primary-color: #fff;
$secondary-color: #070724;
$grey-dark: #38384f;
$grey-light: #838391;

// planet primary colours

$mercury-color: #419ebb;
$venus-color: #eda249;
$earth-color: #6d2ed5;
$mars-color: #d14c32;
$jupiter-color: #d83a34;
$saturn-color: #cd5120;
$uranus-color: #1ec1a2;
$neptune-color: #2d68f0;

// :root {
// 	--planet-color: #{$mercury-color};
// }
